<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!---- title of the page ------->
    <title>FERTILIZER RECOMMENDATION SYSTEM</title>

    <!-- Google font - Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}" >
</head>

<!------------------------------------- body of the page  ----------------------------------------------->
<body>
    <div class="container">
        <div class="col s20 center-align" style="margin-top: 6px;">
            <a class="oauth-container btn darken-4 white black-text" href=""
                style="text-transform:none; width: 250px;">
                <div class="left">
                    <img width="15px" style="margin-top: 7px; margin-right: 5px; width: 18px;" alt="Google sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                </div>
                Continue with Google
            </a>
        </div>

        <div class="col s20 center-align" style="margin-top: 6px;">
            <a class="oauth-container btn darken-4 white black-text" href=""
                style="text-transform:none; width: 250px;">
                <div class="left">
                    <img width="15px" style="margin-top: 7px; margin-right: 5px; width: 18px;" alt="Facebook sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Gmail_2020.png/640px-Gmail_2020.png" />
                </div>
                Continue with Gmail
            </a>
        </div>

        <div class="col s20 center-align" style="margin-top: 6px;">
            <a class="oauth-container btn darken-4 white black-text" href=""
                style="text-transform:none; width: 250px;">
                <div class="left">
                    <img width="15px" style="margin-top: 7px; margin-right: 5px; width: 18px;" alt="Facebook sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/640px-Facebook_Logo_%282019%29.png" />
                </div>
                Continue with Facebook
            </a>
        </div>

        <div class="alternate">
            <p class="or">or</p>
        </div>
<!---------------------------------------------- login / signup ------------------------------------------------->
        <form class="form" id="login">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Username or email">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a href="#" class="form__link">Forgot your password?</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>
        </form>
        <form class="form form--hidden" id="createAccount">
            <h1 class="form__title">Create Account</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Email Address">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Confirm password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Sign Up</button>
            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
            </p>
        </form>
<!-------------------------------------------- end of login / signup --------------------------------------------------->
    </div>
    <script src="{{url_for('static', filename='scripts/login.js')}}" ></script>
</body>
<!-------------------------------------------- end of body of the page ------------------------------------------------->
</html>